<template>
  <section class="container">
    <ul class="list-reset">
      <li v-for="author in authors" :key="author._id">{{ author.name }}
        <ul class="list-reset" v-if="author.books.length">
          <li v-for="book in author.books" :key="book._id">{{ author.name }}'s book - {{ book.name }}</li>
        </ul>
      </li>
    </ul>
  </section>
</template>

<script>
import authors from '~/graphql/queries/authors.gql';

export default {
  apollo: {
    authors: {
      prefetch: true,
      query: authors
    }
  }
};
</script>
